.ofwa , .in {
    width: 100%;
    font-size: large;
}
body {
    background-size: cover;
    background-position: center;
}
#start {
    font-size: large;
}
canvas {
    background-color: white;
    border-color: red;
    box-shadow: 5px 5px 5px grey;
    padding: auto;
    margin: 30px;
}